@import "variables";
@import "overlay";

body {
    background-color: #fdfdfd;
}

header {
    background-color: $color-principal;
}

ul {
    position: 40%;
    font-size: 1.4rem;
    font-family: $font-principal;
    background-color: $color-principal;
    
    li {
        
        a {
            text-decoration: none;
            color: #F5F4F2;
            
            &:hover {
                
                color: white;
            }
        }
    }
}

article {
    font-family: $font-principal;
}

.btn-outline-light {
    color: $color-principal;
    border-color: $color-principal;

    &:hover {
        background-color: $color-secundario;
        color: white;

    }
}

.textoPrincipal {
    
    p {
        font-size: 1.3rem;

        @media screen and  (max-width: 620px) {
            font-size: 1rem;
        }
    }
}

.logoPortada {
    @media screen and (min-width: 450px) {
        width: 400px;
    }
    @media screen and (max-width: 768px) {
        width: 300px;
        
    }
}

.carousel-item {

    img {
        filter: brightness(60%);
    }
}

.inicialTexto {
    font-size: 3rem;
    color: $color-principal;
}


.navAnalisis {
    background-color: transparent;
}

.headerAnalisis {
    background-color: transparent;
    z-index: 1;
}

.img-container {
    overflow: hidden;
}

.portada {
    @media screen and (min-width: 1920px) {
        width: 100%; 
    }
    filter: opacity(60%);
}

aside {
    border-top: $color-secundario solid 10px;
    height: 550px;

    img {
        height: 80px;
    }
}


.card-text {
    font-size: 1.5rem;
    
    @media screen and (max-width: 768px) {
        font-size: 1rem; 
    }
}

h3, p {
    
    .titulo {
        color: black;
        font-weight: bolder;
        
        @media screen and (max-width: 768px) {
            font-size: 1.3rem;
        }

        &:hover {
            color: black;
            text-decoration: none;
        }
    }
}

.imagenPortada {
    transition: all 0.3s;

    &:hover {
        transform: scale(1.04, 1.04);
    }
}

footer {
    background-color: $color-secundario;
    
    h3 {
        
        .red {
            text-decoration: none;
            color: #F5F4F2;
        }
    }
}

@for $i from 1 through 5 {

    h#{$i} {
        font-family: $font-principal;
    }
}

.titulo-video {
    color: $color-secundario;

    @media screen and (min-width: 992px) {
        font-size: 1.3rem;
    }

    @media screen and (max-width: 768px) {
        font-size: 1rem;
    }
}

.dark_theme {
    
    background-color: $dark-body;

    p {
        color: white;
    }

    @for $i from 1 through 5 {
        h#{$i} {
            color: white;
        }
    }

    h3 {
        a {
            color: white !important;
        }
    }


    aside {
        background-color: $dark-color-secundario;
    }

    p a {
        color: white;
    }

}
